.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 8vh;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Line {
    display: flex;
    align-items: center;
}

.Solutions {
    max-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
}

.VarBlock {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid lightgray;
    max-width: 190px;
    width: 190px;
    justify-content: center;
    height: -webkit-fill-available;
}
